<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" aria-labelledby="createOrEditModal" class="modal fade"
  tabindex="-1" role="dialog" aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <form #ObjForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
        <div class="modal-header">
          <h4 class="modal-title">
            <img style="width:3vw;height: 3vw;" *ngIf="headimgurl" [src]="headimgurl" />
            <span>{{ nickname }}</span>
            <span style="margin-left: 18vw;">{{ displayName }}</span>
          </h4>
          <button type="button" class="close" (click)="close()" aria-label="Close">
            <i aria-hidden="true" class="ki ki-close"></i>
          </button>
        </div>
        <div class="modal-body">
          <div class="row" *ngFor="let item of objItem?.questions let i = index">
              <div class="form-group col-12">
                <label>{{ item.title }}</label>
                <div class="form-control form-12">
                  {{ item.answer }}
                  <span style="margin: 0.5vw;display: inline-block;" *ngFor="let arrItem of item.questionItems">
                    <input style="vertical-align: middle;" class="checkbox" onclick="this.checked=!this.checked"  type="checkbox" name="question" [checked]="arrItem.isChoosed" [value]="arrItem.id">{{ arrItem.content }}
                    
                  </span>
                </div>
              </div>
          </div>
          <div class="form-group">
            <label>评价意见</label>
            <p class="form-control">
              {{ opinion }}
            </p>
          </div>
        </div>

        <!-- <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-primary"
                        (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div> -->
      </form>
    </div>
  </div>
</div>