<div [@routerTransition] (click)="clickContainer()">
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <a id="aaa" href=""> </a>
                        <span>{{"Device" | localize}}</span>
                    </h3>
                    <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                    <span class="kt-subheader__desc">
                        {{"DeviceMangage" | localize}}
                    </span>
                </div>
                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <div class="btn-group dropdown" dropdown
                            *ngIf="isGranted('Pages.Tenant.Devices.Apply')&&appSession.tenant">
                            <button class="btn btn-primary dropdown-toggle icon-piliangcaozuo" type="button"
                                id="applyButton" data-toggle="dropdown" dropdownToggle aria-haspopup="true"
                                aria-expanded="false">
                                {{l('batchOperation')}}
                            </button>
                            <div class="dropdown-menu" *dropdownMenu aria-labelledby="applyButton"
                                x-placement="bottom-start">
                                <a class="dropdown-item icon-shangxian1" (click)="online()">
                                    {{l('onlineBatch')}}
                                </a>
                                <a class="dropdown-item icon-xiaxian1" (click)="offline()">
                                    {{l('offlineBatch')}}
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item icon-shuminghaoshang_xian" (click)="onlineAll()">
                                    {{l('onlineAll')}}
                                </a>
                                <a class="dropdown-item icon-shuminghaoxia_xian" (click)="offlineAll()">
                                    {{l('offlineAll')}}
                                </a>
                                <a class="dropdown-item icon-shanchu" (click)="deleteBatch()">
                                    {{l('deleteBatch')}}
                                </a>
                            </div>
                        </div>
                        <div class="btn-group dropdown" dropdown
                            *ngIf="isGranted('Pages.Tenant.Devices.Publish')&&appSession.tenant">
                            <button class="btn btn-primary dropdown-toggle icon-fabu" type="button" id="publishButton"
                                data-toggle="dropdown" dropdownToggle aria-haspopup="true" aria-expanded="false">
                                {{l('publishDevice')}}
                            </button>
                            <div class="dropdown-menu" *dropdownMenu aria-labelledby="publishButton"
                                x-placement="bottom-start">
                                <a class="dropdown-item icon-fabu1" (click)="goPublishDevice()">
                                    {{l('publishDevice')}}
                                </a>
                                <a class="dropdown-item icon-fabu1" (click)="goPublishMirror()">
                                    {{l('mirrorPublish')}}
                                </a>
                                <a class="dropdown-item icon-chehui" (click)="withdrawDevice()">
                                    {{l('withdrawDevice')}}
                                </a>
                            </div>
                        </div>


                        <div class="btn-group dropdown" dropdown *ngIf="isGranted('Pages.Tenant.Devices.Create')">
                            <button class="btn btn-primary dropdown-toggle icon-excel" type="button" id="port"
                                data-toggle="dropdown" dropdownToggle aria-haspopup="true" aria-expanded="false"
                                [buttonBusy]="exportLoading">
                                {{l('ImportOrExport')}}
                            </button>
                            <div class="dropdown-menu" *dropdownMenu aria-labelledby="port" x-placement="bottom-start">
                                <a class="dropdown-item icon-shuminghaoxia_xian" (click)="goImport()">
                                    {{l('import')}}
                                </a>
                                <a class="dropdown-item icon-shuminghaoshang_xian" (click)="goExport()">
                                    {{l('export')}}
                                </a>
                            </div>
                        </div>

                        <button class="btn btn-primary" (click)="createDevice()"
                            *ngIf="isGranted('Pages.Tenant.Devices.Create')&&appSession.tenant">
                            <i class="icon-add"></i>
                            {{l("CreateNewDevice")}}</button>
                    </div>
                </div>
            </div>
        </div>



        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="Container row">
                    <div class="kt-portlet__body">
                        <div class="row">
                            <form class="horizontal-form" autocomplete="off" name="devicesForm">
                                <div class="kt-form kt-form--label-align-right">
                                    <div class="row align-items-center m--margin-bottom-10">
                                        <div class="col-2">
                                            <div class="form-group kt-form__group align-items-center">
                                                <label>{{l('Mac')}} / {{l('Name')}} / {{l('outId')}}</label>
                                                <div class="input-group">
                                                    <input [(ngModel)]="filterText" name="filterText"
                                                        (keyup.enter)="getDevices()" autoFocus class="form-control kt-input"
                                                        [placeholder]="l('SearchWithThreeDot')" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="form-group kt-form__group align-items-center">
                                                <label>&nbsp;</label>

                                                <div class="input-group">
                                                    <select class="form-control" [(ngModel)]="status" name="status">
                                                        <option value="">
                                                            {{l("All")+' / '+l("Online")+' / '+l("Offline")}}</option>
                                                        <option [value]="0">{{l("Offline")}}</option>
                                                        <option [value]="1">{{l("Online")}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-2" *ngIf="!appSession.tenant">
                                            <div class="form-group kt-form__group align-items-center">
                                                <label>&nbsp;</label>

                                                <div class="input-group">
                                                    <select class="form-control" [(ngModel)]="tenantId" name="tenantId"
                                                        [disabled]="!tenants">
                                                        <option value="">{{l("AllTenants")}}</option>
                                                        <option *ngFor="let tenant of tenants" [value]="tenant.id">
                                                            {{tenant.name+'('+tenant.tenancyName+')'}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="col-2" *ngIf="!appSession.tenant">
                                        <label>&nbsp;</label>
                                        <div class="form-group kt-form__group align-items-center">
                                            <div class="input-group">
                                                <select class="form-control" [(ngModel)]="operationType" name="operationType"
                                                    (ngModelChange)="getDevices()">
                                                    <option value="">{{l("All")+' / '+l("Test")+' / '+l("Official")}}</option>
                                                    <option [value]="0">{{l("Test")}}</option>
                                                    <option [value]="1">{{l("Official")}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div> -->
                                        <div class="col-2">
                                            <div class="form-group kt-form__group align-items-center">
                                                <label>&nbsp;</label>

                                                <div class="input-group">
                                                    <select class="form-control" [(ngModel)]="auditStatus"
                                                        name="auditStatus">
                                                        <option value="">{{l("All")+' / '+l("On")+' / '+l("Off")}}
                                                        </option>
                                                        <option [value]="AuditStatus2.Offline">{{l("Off")}}</option>
                                                        <option [value]="AuditStatus2.Online">{{l("On")}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="col-2">
                                        <label>&nbsp;</label>
                                        <div class="form-group kt-form__group align-items-center">
                                            <div class="input-group">
                                                <select class="form-control" [(ngModel)]="deviceTypeId" name="deviceTypeId"
                                                    (ngModelChange)="getDevices()">
                                                    <option value="">{{l("All")}}{{l('DeviceType')}}</option>
                                                    <option [value]="item.id" *ngFor="let item of deviceTypeList">{{item.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div> -->


                                        <!-- 按设备类型筛选 -->

                                        <div class="col-2 form-group">
                                            <app-high-tree #highTree1 [treeList]="deviceTypeList"
                                                [selfConfig]="{labelName:l('DeviceType')}" [config]="{name:'name'}"
                                                (onTreeUpdate)="onTreeUpdate($event)"></app-high-tree>
                                        </div>
                                        <!-- <div class="col-2" style="position:relative;padding-bottom: 0;top:0.5rem;">
                                        <div class="form-group kt-form__group align-items-center">
                                            <label>{{l('DeviceType')}}</label>

                                            <div class="input-group">
                                                <input class="form-control belongToTree" name="deviceTypeName" type="text"
                                                    readonly="readonly" style="background:#FFF !important;" [(ngModel)]="TypeText"
                                                    (click)="showType=!showType;typeFilterTree()" />
                                                <i class="icon-shaixuanxuanzhong belongToTree" style="position:absolute;right:6px;top:50%;transform:translateY(-50%);z-index:98;"
                                                    (click)="showType=!showType;typeFilterTree()"></i>
                                            </div>
                                        </div>

                                        <div style="position:absolute;top:6rem;z-index:9999;"></div>

                                        <div *ngIf="showType" [ngClass]="{'float_panel':true,'beautyScroll':true}"
                                            [ngStyle]="{'max-height':avalibleHeight}" style="width:90% !important;top:6rem;left:5%;">
                                            <div class="panel_body">
                                                <form name="brandForm">

                                                    <div class="form-group beautyScroll" [ngStyle]="{'max-height':'calc('+avalibleHeight+' - 253px)','padding-left':'20px'}">
                                                        <app-my-tree #typeTree [config]="{'showId':false,'needFilter':false,'name':'name'}"
                                                            [(items)]="deviceTypeList"></app-my-tree>
                                                        <h3 *ngIf="!deviceTypeList||deviceTypeList.length==0">{{l('NoData')}}</h3>
                                                    </div>
                                                    <div class="form-group text-right">
                                                        <button *ngIf="deviceTypeList&&deviceTypeList.length" type="button"
                                                            class="btn btn-primary" (click)="getDevices();updateTypeSelected()">{{l('search')}}</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div> -->

                                        <div class="col-3 form-group" *ngIf="appSession.tenant">
                                            <app-high-tree #highTree2 [treeList]="deviceTree"
                                                [selfConfig]="{labelName:l('belongStore')}"
                                                (onTreeUpdate)="onTreeUpdate2($event)"></app-high-tree>
                                        </div>

                                        <!-- <div class="col-3" style="position:relative;padding-bottom: 0;top:0.5rem;" *ngIf="appSession.tenant">
                                        <label style="position:relative;">{{l('belongStore')}}</label>
                                        <div class="form-group kt-form__group align-items-center" style="padding-top:0;">
                                            <div class="input-group">
                                                <input class="form-control belongToTree" name="storeName" type="text"
                                                    readonly="readonly" style="background:#FFF !important;" [(ngModel)]="storeText"
                                                    (click)="showStore=!showStore;storeFilterTree()" />
                                                <i class="icon-shaixuanxuanzhong belongToTree" style="position:absolute;right:6px;top:50%;transform:translateY(-50%);z-index:98;"
                                                    (click)="showStore=!showStore;storeFilterTree()"></i>
                                            </div>
                                        </div>
                                        <div style="position:absolute;top:6rem;z-index:9999;"></div>
                                        <div *ngIf="showStore" [ngClass]="{'float_panel':true,'beautyScroll':true}"
                                            [ngStyle]="{'max-height':avalibleHeight}" style="width:90% !important;top:6rem;left:5%;">
                                            <div class="panel_body">
                                                <form name="StoreForm">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <input [(ngModel)]="storeFilter" name="treeFilterText"
                                                                (keydown.enter)="storeFilterTree($event)" autoFocus
                                                                class="form-control kt-input belongToTree" [placeholder]="l('SearchWithThreeDot')"
                                                                type="text">
                                                        </div>
                                                    </div>
                                                    <div class="form-group beautyScroll" [ngStyle]="{'max-height':'calc('+avalibleHeight+' - 253px)','padding-left':'20px'}">
                                                        <app-my-tree #storeTree [config]="{'showId':false,'showOuterId':true,'needFilter':false,'name':'text','singleSelect':false}"
                                                            [(items)]="storeList"></app-my-tree>
                                                        <h3 *ngIf="!storeList||storeList.length==0">{{l('NoData')}}</h3>
                                                    </div>
                                                    <div class="form-group text-right">
                                                        <button *ngIf="storeList&&storeList.length" type="button" class="btn btn-primary"
                                                            (click)="getDevices();updateStoreSelected()">{{l('search')}}</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div> -->

                                        <div class="col-1">
                                            <div class="form-group kt-form__group align-items-center">
                                                <label style="display:block;">&nbsp;</label>
                                                <div class="input-group">
                                                    <button type="button" class="btn btn-primary"
                                                        (click)="getDevices()">
                                                        <i class="la la-refresh"></i>
                                                        {{l("search")}}
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="row align-items-center">
                            <!--<Primeng-Datatable-Start>-->
                            <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                                <!-- resizableColumns="primengTableHelper.resizableColumns" -->
                                <p-table #dataTable (onLazyLoad)="getDevices($event)"
                                    [value]="primengTableHelper.records"
                                    [rows]="primengTableHelper.defaultRecordsCountPerPage" [paginator]="false"
                                    [lazy]="true" [(selection)]="devicePublishList"
                                    [resizableColumns]="primengTableHelper.resizableColumns"
                                    [responsive]="primengTableHelper.isResponsive">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>{{l('Actions')}}</th>
                                            <th style="width: 5em">
                                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                            </th>
                                            <th style="width:4%">{{l('RecordId')}}</th>
                                            <th style="width:25%">{{l('Name')}}</th>
                                            <th>{{l('type')}}</th>
                                            <th>{{l('Mac')}}</th>
                                            <th pSortableColumn="heartBeatTime" style="width:10%">
                                                {{l('HeartBeatTime')}}
                                                <p-sortIcon field="heartBeatTime"></p-sortIcon>
                                            </th>
                                            <th>{{l('belongStore')}}</th>
                                            <th pSortableColumn="auditStatus">{{l('reviewStatus')}}
                                                <p-sortIcon field="auditStatus"></p-sortIcon>
                                            </th>
                                            <th pSortableColumn="status">{{l('RunningStatus')}}
                                                <p-sortIcon field="status"></p-sortIcon>
                                            </th>
                                            <th *ngIf="!appSession.tenant" pSortableColumn="isLocked">{{l('IsTest')}}
                                                <p-sortIcon field="isLocked"></p-sortIcon>
                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-record let-i="rowIndex">
                                        <tr [pSelectableRow]="record" [attr.trid]="record.id">
                                            <td>
                                                <div class="btn-group dropdown" dropdown normalizePosition>
                                                    <button class="dropdown-toggle btn btn-sm btn-primary"
                                                        data-toggle="dropdown" dropdownToggle aria-haspopup="true"
                                                        aria-expanded="false">
                                                        <i class="fa fa-cog"></i>
                                                        <span class="caret"></span> {{l("Actions")}}
                                                    </button>
                                                    <ul class="dropdown-menu" *dropdownMenu>
                                                        <li *ngIf="isGranted('Pages.Tenant.Devices.Edit')">
                                                            <a (click)="editDevice(record)"
                                                                class="icon-bianji">{{l('Edit')}}</a>
                                                        </li>
                                                        <li
                                                            *ngIf="isGranted('Pages.Tenant.Devices.Delete')&&record.auditStatus==0">
                                                            <a (click)="deleteDevice(record)"
                                                                class="icon-icon-test">{{l('Delete')}}</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                            <td>
                                                <p-tableCheckbox [value]="record"></p-tableCheckbox>
                                            </td>
                                            <td> {{transIndex(i)}}</td>
                                            <td>
                                                <span>{{record.name}}</span>
                                            </td>
                                            <td>
                                                <span *ngIf="record.deviceType">{{record.deviceType.name}}</span>
                                                <span *ngIf="!record.deviceType">-</span>
                                            </td>
                                            <td>
                                                <span>{{record.mac}}</span>
                                            </td>
                                            <td>
                                                <span>{{record.heartBeatTime | date : "yyyy/MM/dd HH:mm"}}
                                                </span>
                                            </td>
                                            <td>
                                                <span *ngIf="!record.storeId"
                                                    class="text-warning">{{l('Unassigned')}}</span>
                                                <span *ngIf="record.storeId">{{record.storeName}}</span>
                                            </td>
                                            <td>
                                                <span *ngIf="record['auditStatus']==1"
                                                    class="kt-badge  kt-badge--success kt-badge--inline">{{l("On")}}</span>
                                                <span *ngIf="record['auditStatus']==0"
                                                    class="kt-badge  kt-badge--danger kt-badge--inline">{{l("Off")}}</span>
                                            </td>
                                            <td>
                                                <span *ngIf="record['status']==1"
                                                    class="kt-badge  kt-badge--success kt-badge--inline">{{l("Online")}}</span>
                                                <span *ngIf="record['status']==0"
                                                    class="kt-badge  kt-badge--danger kt-badge--inline">{{l("Offline")}}</span>
                                            </td>
                                            <td *ngIf="!appSession.tenant">
                                                <span *ngIf="record['operatingType']==0"
                                                    class="kt-badge  kt-badge--success kt-badge--inline">{{l("Official")}}</span>
                                                <span *ngIf="record['operatingType']==1"
                                                    class="kt-badge  kt-badge--success kt-badge--inline">{{l("Test")}}</span>
                                            </td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="emptymessage" let-records>
                                        <tr *ngIf="primengTableHelper.records">
                                            <td colspan="9">
                                                <img class="emptymessage"
                                                    src="/assets/common/images/placeholder/deviceHolder.png" />
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                                <div class="primeng-paging-container">
                                    <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                        (onPageChange)="getDevices($event)"
                                        [totalRecords]="primengTableHelper.totalRecordsCount"
                                        [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                    </p-paginator>
                                    <span class="total-records-count">
                                        {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div [ngClass]="{'hide':!toPublish,'float_panel':true,'beautyScroll':true}" [ngStyle]="{'height':avalibleHeight}"
                    *ngIf="isGranted('Pages.Tenant.Devices.Publish')"> -->
                    <div [ngClass]="{'hide':!toPublish,'float_panel':true,'beautyScroll':true}"
                        [ngStyle]="{'height':avalibleHeight}"
                        *ngIf="isGranted('Pages.Tenant.Devices.Publish')&&toPublish">
                        <div class="panel_head">
                            <h3 *ngIf="!ifMirror">{{l('devicesPublish')}}</h3>
                            <h3 *ngIf="ifMirror">{{l('mirrorPublish')}}</h3>
                            <div class="text-right x">
                                <button (click)="toPublish=!toPublish">
                                    <i class="icon-close"></i>
                                </button>
                            </div>
                        </div>
                        <div class="panel_body">
                            <form (ngSubmit)="doPublishDevice()" name="publishAdsForm">

                                <div class="m--align-left row" style="padding:0 16px;" *ngIf="ifMirror">

                                    <label class="kt-checkbox kt-checkbox--primary col-4"
                                        *ngFor="let item of mirrorList">
                                        <input class="form-control" [(ngModel)]="item.selected" type="checkbox"
                                            [name]="item.name" value="true" />{{l(item.name)}}
                                        <span></span>
                                    </label>

                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <input [(ngModel)]="treeFilter" name="treeFilterText" autoFocus
                                            (kewdown.enter)="filterTree($event)" class="form-control kt-input"
                                            [placeholder]="l('SearchWithThreeDot')" type="text">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" type="button" (click)="filterTree()">
                                                <i class="icon-sousuo-sousuo"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group beautyScroll" style="max-height:100%;padding-left:20px;">
                                    <app-my-tree #myTree *ngIf="!ifMirror" [needShowNoChildren]="false"
                                        [config]="config" [(items)]="deviceTree"></app-my-tree>
                                    <app-my-tree #myTree *ngIf="ifMirror" [config]="config2" [(items)]="deviceTree">
                                    </app-my-tree>
                                    <h3 *ngIf="!deviceTree||deviceTree.length==0">{{l('NoData')}}</h3>
                                </div>
                                <div class="form-group text-right">
                                    <button *ngIf="deviceTree&&deviceTree.length" type="submit"
                                        class="btn btn-primary">{{l('Publish')}}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="isGranted('Pages.Tenant.Devices.Apply')">
                <div class="modal fade" id="review" tabindex="-1" role="dialog" aria-labelledby="reviewLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="reviewLabel">{{l('reviewRequest')}}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                    (click)="no()">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="reason" class="col-form-label">{{l('Message')}}:</label>
                                        <textarea class="form-control" id="reason" name="reason"
                                            [(ngModel)]="apply.reason"></textarea>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" (click)="no()"
                                    data-dismiss="modal">{{l('Close')}}</button>
                                <button type="button" class="btn btn-primary" (click)="ok()" [buttonBusy]="busy"
                                    [busyText]="l('SavingWithThreeDot')" [disabled]="busy"><i></i>{{l('Send')}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <createOrEditDeviceModal #createOrEditDeviceModal (modalSave)="getDevices()"></createOrEditDeviceModal> -->
        </div>

    </div>