<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'OrganizationUnits' | localize" [description]="'OrganizationUnitsHeaderInfo' | localize">

            <div role="actions">
                <button *ngIf="'Pages.Administration.OrganizationUnits.ManageOrganizationTree' | permission" class="btn btn-primary" (click)="goImport()"><i class="icon-excel"></i>{{"import" | localize}}
                </button>
            </div>

        </sub-header>
        <div [class]="containerClass">
            <div class="row">
                <div class="col-6">
                    <organization-tree #ouTree (ouSelected)="ouSelected($event)"></organization-tree>
                </div>
                <div class="col-6">
                    <div class="card card-custom gutter-b">
                        <div class="card-header align-items-center border-0">
                            <h3 class="card-title align-items-start flex-column">
                                <span class="font-weight-bolder text-dark"> <span *ngIf="organizationUnit">{{organizationUnit.displayName}}</span></span>
                            </h3>
                        </div>
                        <div class="card-body">
                            <tabset class="tab-container">
                                <tab class="p-5" heading="{{'Members' | localize}}" [active]="true">
                                    <organization-unit-members #ouMembers (membersAdded)="ouTree.membersAdded($event)" (memberRemoved)="ouTree.memberRemoved($event)"></organization-unit-members>
                                </tab>
                                <tab class="p-5" heading="{{'Roles' | localize}}">
                                    <organization-unit-roles #ouRoles (rolesAdded)="ouTree.rolesAdded($event)" (roleRemoved)="ouTree.roleRemoved($event)"></organization-unit-roles>
                                </tab>
                                <tab class="p-5" heading="{{'EntityStore' | localize}}">
                                    <organization-unit-stores #ouStores></organization-unit-stores>
                                </tab>
                            </tabset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>