<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" aria-labelledby="createOrEditModal" class="modal fade"
    tabindex="-1" role="dialog" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    {{ l('sku') }}
                </h4>
                <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            
            <div class="row align-items-center">
                <div class="col-1"></div>
                <div class="primeng-datatable-container">
                    <app-image-grid id="gridShow" mode="0" [imageList]="pProduct.records">
                    </app-image-grid>
                </div>
                <div class="primeng-paging-container">
                    <span class="total-records-count">
                        {{l('TotalRecordsCount',length)}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>