<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" aria-labelledby="createOrEditModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #ProductsForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="operationType=='add'">{{l("CreateBill")}}</span>
                        <span *ngIf="operationType=='edit'">{{l("EditBill")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6 form-group">
                            <label>{{l('from')}}</label>
                            <input [disabled]="operationType=='edit'" [(ngModel)]="Input.from" name="from" type="text" class="form-control" />
                        </div>
                        <div class="col-6 form-group">
                            <label>{{l('outPutInStorageType')}}</label>
                            <select [disabled]="operationType=='edit'" required [(ngModel)]="Input.outPutInStorageType" name="outPutInStorageType" class="form-control">
                                <option value="Put">{{l('Put')}}</option>
                                <option value="Out">{{l('Out')}}</option>
                            </select>
                        </div>
                        <div class="col-12 form-group">
                            <label>{{l('description')}}</label>
                            <textarea [disabled]="operationType=='edit'" [(ngModel)]="Input.description" name="Input.description" class="form-control" cols="30" rows="5"></textarea>
                        </div>
                    </div>



                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container">
                            <!-- resizableColumns="PersonalityPrimeng.resizableColumns" -->
                            <p-table #RecommendTable [busyIf]="primengTableHelper.isLoading" [value]="skuList" [paginator]="false">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 150px" *ngIf="operationType!='edit'">{{l('Actions')}}</th>
                                        <th>
                                            {{l('name')}} *
                                        </th>
                                        <th>sku_id *</th>
                                        <th>
                                            {{l('Image')}}
                                        </th>
                                        <th *ngIf="operationType=='add'">
                                            {{l('nowQuantity')}}
                                        </th>
                                        <th *ngIf="operationType=='edit'">
                                            {{l('before')}}
                                        </th>
                                        <th *ngIf="operationType=='edit'">
                                            {{l('after')}}
                                        </th>
                                        <th *ngIf="operationType=='add'">
                                            <span *ngIf="Input.outPutInStorageType=='Out'">{{l('OutQuantity')}}</span>
                                            <span *ngIf="Input.outPutInStorageType=='Put'">{{l('InQuantity')}}</span>
                                        </th>
                                        <th>{{l('RFID')}}</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record let-i="rowIndex">
                                    <tr [pSelectableRow]="record">
                                        <td style="width: 150px" *ngIf="operationType!='edit'">
                                            <div class="btn-group dropdown" normalizePosition>
                                                <button class="icon-icon-test btn btn-sm btn-primary" (click)="deleteRecord(i)" type="button" tabindex="-1">
                                                    <span class="caret"></span> {{l("Delete")}}
                                                </button>
                                            </div>
                                        </td>
                                        <td>
                                            <input [disabled]="operationType=='edit'" class="form-control titleInputInAddOutputinModal" type="text" [ngModelOptions]="{standalone: true}" readonly [(ngModel)]="record.title" (click)="doSearch($event,record,i)">
                                        </td>
                                        <td>
                                            <input [disabled]="operationType=='edit'" class="form-control" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="record.sku_id" (click)="doSearch($event,record,i)" readonly>
                                        </td>
                                        <td>
                                            <img [src]="fixFileUrl(record.picUrl)" style="width: 33px;" (error)="fixPic($event)" />
                                        </td>
                                        <td *ngIf="operationType=='add'">
                                            <span>{{record.quantity}}</span>
                                        </td>
                                        <td *ngIf="operationType=='edit'">
                                            <span>{{record.quantityBefore}}</span>
                                        </td>
                                        <td *ngIf="operationType=='edit'">
                                            <span>{{record.quantityAfter}}</span>
                                        </td>
                                        <td *ngIf="operationType=='add'">
                                            <input class="form-control numberInputInAddOutputinModal" type="number" [ngModelOptions]="{standalone: true}" [(ngModel)]="record.number" (keydown.enter)="focusNext()" (ngModelChange)="checkNumber($event,i)" [readonly]="record.loading||!record.skuId"
                                                [class.recordNotValid]="!record.valid">
                                        </td>
                                        <td>
                                            <input [disabled]="operationType=='edit'" class="form-control" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="record.rfid" (input)="buildInput()" [readonly]="record.loading||!record.skuId" [class.recordNotValid]="!record.valid">
                                        </td>
                                    </tr>
                                </ng-template>

                            </p-table>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                        <div class="row" style="margin:25px 0;width:100%;">
                            <div class="col-12 text-center">
                                <button *ngIf="operationType!='edit'" (click)="add()" class="btn btn-primary blue" type="button">
                                    <i class="fa fa-plus"></i> {{l("add")}}</button>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-primary" (click)="close()">{{l("Cancel")}}</button>
                    <button *ngIf="operationType=='add'" type="submit" class="btn btn-primary blue" [disabled]="!ProductsForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-save"></i>
                        <span>{{l("Save")}}</span>
                    </button>
                </div>
            </form>
        </div>

    </div>
</div>
<skuGridModal #skuGridModal (modalSave)="getSelect($event)"></skuGridModal>