/* You can add global styles to this file, and also import other style files */
.margin-left-5 {
    margin-left: 5px !important;
}

.margin-right-5 {
    margin-right: 5px !important;
}

.margin-top-5 {
    margin-top: 5px !important;
}

.margin-top-15 {
    margin-top: 15px !important;
}

.margin-bottom-5 {
    margin-bottom: 5px !important;
}

.margin-bottom-5 {
    margin-bottom: 5px !important;
}

.margin-bottom-15 {
    margin-bottom: 15px !important;
}

.padding-left-5 {
    padding-left: 5px !important;
}

.padding-right-5 {
    padding-right: 5px !important;
}

.padding-top-5 {
    padding-top: 5px !important;
}

.padding-bottom-5 {
    padding-bottom: 5px !important;
}

.width-percent-5 {
    width: 5%;
}

.width-percent-10 {
    width: 10%;
}

.width-percent-15 {
    width: 15%;
}

.width-percent-20 {
    width: 20%;
}

.width-percent-30 {
    width: 30%;
}

.width-percent-40 {
    width: 40%;
}

.width-percent-50 {
    width: 50%;
}

.width-percent-100 {
    width: 100%;
}

/* Sweet alert */

.swal2-title {
    display: inline-block !important;
}

body.swal2-height-auto {
    height: inherit !important;
}

.swal2-popup.swal2-toast {
    padding: 10px 12px !important;
    display: block !important;
}

.swal2-popup.swal2-toast .swal2-header,
.swal2-popup.swal2-toast .swal2-title,
.swal2-popup.swal2-toast .swal2-content {
    text-align: left !important;
    margin: 0 !important;
}

.swal2-popup.swal2-toast .swal2-title {
    margin-bottom: 4px !important;
}

.swal2-icon.swal2-info::before,
.swal2-icon.swal2-warning::before,
.swal2-icon.swal2-success::before,
.swal2-icon.swal2-error::before {
    content: "";
}

@keyframes glowing {
    0% {
        opacity: 0.3;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.3;
    }
}

.glowing {
    animation: glowing 2s infinite;
}

.root-initial-loader .overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(51, 51, 51, 0.8);
    z-index: 99999 !important;
    width: 100%;
    height: 100%;
}

.root-initial-loader i {
    position: absolute;
    color: rgb(91, 167, 234);
    z-index: 100000 !important;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.root-initial-loader .fa-spin-2x {
    -webkit-animation: fa-spin 1s infinite linear;
    animation: fa-spin 1s infinite linear;
}
ngx-spinner .loading-text {
    font-weight: bold;
    color: white;
    font-size: 1.3em;
}
/**限制表格每个td的宽度**/

table tr th {
    text-align: center !important;
}

table tr td {
    text-align: center !important;
    text-overflow: ellipsis;
    white-space: nowrap;
}


table tr td:first-child span {
    overflow: visible;
}

table tr td:not([colspan]) img {
    max-width: 30px;
    max-height: 30px;
}

table tr td span {
    max-width: 150px;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    display: inline-block;
}

table tr td.nohidden span {
    overflow: visible;
}

table tr td.nohidden button {
    height: 2.4rem;
}

.emptymessage {
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 5px;
}

/** **/

.btn-head {
    padding: 10px 0px;
    text-align: right;
    width: 100%;
}

.m-portlet__body {
    width: 100%;
    transition: 0.5s;
}

.m-portlet__head {
    width: 100%;
    display: flex;
}

/* .m-portlet .m-portlet__head {
          height: auto !important;
      } */

input + span.input-group-btn > button.btn {
    height: 100%;
}

.m-portlet__body .Container {
    padding-left: 2em;
    border-left: 1px solid #aaa;
}

.Container {
    position: relative;
    display: flex;
    margin: 0 !important;
}

.Container .close {
    position: absolute;
    left: 4px;
    cursor: pointer;
}

.Container .close:hover {
    box-shadow: 0 0 10px #eee;
}

form {
    width: 100%;
}

/**重写框架样式**/

.m-body .m-wrapper {
    overflow: visible !important;
}

/**modal style**/

.modal-dialog.modal-sm {
    max-width: 30% !important;
}

.modal-dialog.modal-md {
    max-width: 60% !important;
}

.modal-dialog.modal-lg {
    max-width: 80% !important;
}

.modal-dialog.modal-sb {
    max-width: 100% !important;
}

.modal-dialog textarea {
    height: 200px !important;
}

/**多选样式**/

span.ui-autocomplete {
    width: 100%;
}

span.ui-autocomplete input {
    width: 96.6%;
    float: left;
}

span.ui-autocomplete ul {
    width: 96.6%;
    float: left;
}

span.ui-autocomplete button {
    width: 3.4% !important;
    float: right;
    height: 3.2rem !important;
}

ul.ui-autocomplete-multiple-container {
    width: 96.6%;
}

/**form  校验样式**/

.form-control.ng-invalid {
    border: 1px solid red !important;
}

/**批量操作的下拉**/

.liHolder {
    display: block;
    font-size: 1rem;
    color: #212529;
    padding: 0;
    max-height: 500px;
    overflow-y: scroll;
    text-align: center;
}

.liHolder li {
    list-style: none;
}

.liHolder > li > a {
    cursor: pointer;
    display: block;
    padding: 0.7rem 1.2rem;
}

.liHolder > li > a:hover {
    background: #f4f5f8;
}

.divider {
    padding-top: 0.5px;
    border-bottom: 0.5px solid rgb(202, 198, 198);
}

/**fix primeng datatable style**/

/* .primeng-datatable-container .ui-datatable table tbody tr.ui-datatable-even.ui-state-highlight {
          background-color: #5867DD !important;
          color: #ffffff !important;
          border-color: #5867DD !important;
      } */

/* :not(:first-child) */

.primeng-datatable-container table tbody tr {
    /* border-top: 1px solid white; */
    border-collapse: separate !important;
}

.primeng-datatable-container table tbody tr.ui-state-highlight {
    border-top: 1px solid;
    border-collapse: separate !important;
}

.primeng-datatable-container .ui-table td div.ui-chkbox-box span {
    /* top: 0px !important; */
    /* left: 2px !important; */
    font-size: 1.5rem;
}

/****/

.btn-group {
    padding-left: 6px;
}

/**tabset**/

tabset li {
    position: relative;
}

tabset li[class*="icon-"] a span {
    padding-left: 10px;
}

tabset li[class*="icon-"]::before {
    position: absolute;
    /* top: 17px; */
    /* left: 0px; */
    /* color: #aaa; */
    top: 25%;
    left: 5%;
    /* left: 0; */
    font-size: 1.5rem;
}

button[class*=" icon-"]::before {
    padding-right: 5px;
}

tabset li[class*="icon-"].active::before {
    color: #444;
}

tab::before {
    display: none;
}

/**file in label**/

label.fileLabel {
    position: relative;
}

label.fileLabel input[type="file"] {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    height: 100%;
}

.pageLoading {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #062734;
    z-index: 1000;
    text-align: center;
}

.pageLoading img {
    transform: translateY(50%);
}

.hiddenChose {
    position: absolute;
    opacity: 0;
}

.ui-chkbox span.ui-chkbox-icon {
    display: inline-block !important;
    overflow: visible;
}

.mr-auto a {
    cursor: pointer;
}

.mr-auto a.text-secondary:hover {
    color: #ebedf2 !important;
}

.mr-auto a {
    font-size: 20px;
    box-sizing: border-box;
    height: 33px;
    /* width: 33px; */
    display: inline-block;
    line-height: 33px;
}

.mr-auto a.text-primary:hover {
    font-size: 24px;
}

.primeng-datatable-container .primeng-paging-container {
    padding: 6px 0px !important;
}

.form-group label {
    text-transform: capitalize;
}

.nav-item a.nav-link span {
    text-transform: capitalize;
}

/**
      here to cover the frame-default-style
      **/

body.m-aside-left--skin-dark .m-header .m-header-head {
    border: 1px solid rgba(78, 73, 64, 0.08);
    box-shadow: 0 0 0 0 !important;
}

.m-portlet:not([origin]) .m-portlet__body {
    padding-top: 1rem !important;
}

.m-portlet:not([origin]) {
    border: none;
    box-shadow: 0 0 0 0 !important;
    /* background-color: #d8d4d4; */
}

div.btn-group + button {
    margin-left: 6px;
}

.dropdown-menu [class*="icon-"]::before {
    padding-right: 10px;
}

.dropdown-toggle [class*="icon-"]::before {
    padding-right: 10px;
}

.m-subheader {
    border-bottom: 1px solid #f0f2f4;
    background-color: #fbfbfd;
    padding: 15px 15px 15px 15px !important;
}

@media (min-width: 1025px) {
    body.m-aside-left--skin-light .m-header {
        -webkit-box-shadow: 0 0 0 0 !important;
        -moz-box-shadow: 0 0 0 0 !important;
        box-shadow: 0 0 0 0 !important;
        border-bottom: 1px solid #f0f2f4;
    }
}

/**发布面板样式**/

.float_panel {
    position: absolute !important;
    width: 360px !important;
    -webkit-animation: show-pane 0.2s cubic-bezier(0, 0, 0, 1);
    animation: show-pane 0.2s cubic-bezier(0, 0, 0, 1);
    z-index: 999;
    background-clip: padding-box;
    box-shadow: -3px 4px 12px rgba(36, 41, 46, 0.05);
    right: -15px;
    top: -15px;
    background: #ffffff;
    white-space: normal !important;
    min-height: 550px;
    overflow: auto;
    max-height: none !important;
}

.float_panel.hide {
    display: none !important;
}

.float_panel h3 {
    color: #4b5970;
}

.panel_head {
    padding: 8px 16px;
    background-color: #f6f8fa;
    border-bottom: 1px #e1e4e8 solid !important;
    color: #f6f8fa;
    font-size: 14px !important;
    font-weight: 600;
    position: relative;
}

.panel_head .x {
    position: absolute;
    top: 7px;
    right: 2px;
}

.panel_head button {
    border: 0;
    background: transparent;
    cursor: pointer;
}

.panel_head button i {
    line-height: 20px;
    height: 20px;
}

.panel_head button:hover i {
    font-size: 15px;
}

.panel_body {
    line-height: 1.5;
    word-wrap: break-word;
    /* color: #f6f8fa; */
    font-size: 14px !important;
    padding: 16px !important;
    /* border-bottom: 1px #e1e4e8 solid !important; */
}

/** check box 选中**/

.m-checkbox {
    position: relative;
}

.dropdown-menu .m-checkbox input[type="checkbox"] {
    width: 100%;
    height: 100%;
    z-index: 100;
}

.dropdown-menu form.px-4.py-3 {
    width: 200px;
}

div.beautyScroll {
    max-height: 200px;
    overflow: auto !important;
}

/*滚动条样式*/

html::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 4px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 4px;
}

html::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.2);
}

div.beautyScroll::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 4px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 4px;
}

div::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0;
    background: rgba(0, 0, 0, 0.1);
}

div.beautyScroll::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.2);
}

div.beautyScroll::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0;
    background: rgba(0, 0, 0, 0.1);
}

/**fix ui**/

body > ul.dropdown-menu.tether-element.tether-enabled {
    min-width: 7rem;
}

td:first-child .btn-sm {
    /* padding: 0.6rem .75rem !important; */
}

.form-control {
    line-height: 1rem !important;
}

.m-subheader__title .icon-fanhui {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    font-size: 1.5rem;
    transition: 0.5s;
    cursor: pointer;
}

.m-subheader__title .icon-fanhui:hover {
    font-size: 1.75rem;
}

/* .input-group-btn .btn{
          height: 2.78rem;
      } */

.input-group date-range-picker input.form-control {
    border-radius: 5px 0px 0px 5px;
}

.myBlock {
    z-index: 1000;
    border: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #ebedf2;
    opacity: 1;
    cursor: wait;
    position: fixed;
}

/* fix menu css  bug */

.mCustomScrollBox.mCS-minimal-dark.mCSB_vertical.mCSB_outside {
    padding-bottom: 28px;
}

/*兼容table在窄屏幕下操作按钮样式错乱bug*/

.primeng-datatable-container table tbody tr td .btn-group.dropdown {
    max-width: 100%;
}

.primeng-datatable-container table tbody tr td .btn-group.dropdown button {
    max-width: 100%;
    overflow: hidden;
}

body
    .ui-autocomplete.ui-autocomplete-multiple
    .ui-autocomplete-multiple-container {
    padding: 0 1rem !important;
}

div.form-group {
    margin-bottom: 1rem !important;
}

.tab-content .form-group {
    margin-bottom: 1rem;
}

/* 用于primeng-datatable顶部title的居中 */

div .primeng-datatable-container .ui-table th {
    padding-right: 10px !important;
}

/* 用于配合date-range-picker的删除按钮的定位 */

.form-group {
    position: relative;
}

/* 用于给新版的loading提供一个父元素,防止变为全屏loading */

.m-content {
    position: relative;
}

/* table全选时的样式 */

.primeng-datatable-container .ui-table div.ui-chkbox-box span {
    left: 0;
}

/* .show() */

#review.fade:not(.show) {
    opacity: 1 !important;
}

#review.modal.fade {
    background: rgba(0, 0, 0, 0.2);
}

#review.modal.fade .modal-dialog {
    transform: translate(0, 25%) !important;
}

/* autocomplete变形问题 */
.p-autocomplete {
    max-height: 3.2rem;
}
p-autocomplete {
    padding: 0 !important;
}

/* .ui-autocomplete-multiple-container li {
    padding: 0 !important;
} */

.kt-subheader__wrapper > button {
    margin-left: 6px !important;
}

.kt-checkbox > span:after {
    border: solid #000 !important;
}

.kt-radio > span:after {
    border: solid #000 !important;
    background: #000 !important;
}

body .ui-table .ui-table-tbody > tr.ui-state-highlight .dropdown a {
    color: #000;
}

.kt-portlet__body {
    width: 100%;
}

.kt-checkbox > input.belongToTree {
    z-index: 4;
    left: 18px;
    width: 18px;
    height: 18px;
}
/* 保证头部不会被遮挡 */
#kt_header {
    z-index: 999 !important;
}
/* 下移logo不被遮挡 */
.modal-dialog {
    padding-top: 25px !important;
}
.aside-menu .menu-nav > .menu-item.menu-item-open > .menu-heading .menu-icon, .aside-menu .menu-nav > .menu-item.menu-item-open > .menu-link .menu-icon > i {
    color: #3699FF;
}
.aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-open > .menu-heading .menu-icon, .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-open > .menu-link .menu-icon > i {
    color: #3699FF;
}
a:hover i {
    color: #0073e9;
}